.app__review {
  /* height: 350px; */
  margin: 1rem;
}
.app__review-title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 55px;
}
.app__review-title h1 {
  font-family: Cormorant Upright;
  font-size: 100px;
  color: rgb(194, 144, 7);
}
.app__review-title img {
  height: 100px;
}

.app__review-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .app__review-title {
    line-height: 25px;
  }
  .app__review-title h1 {
    font-size: 70px;
  }
  .app__review-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .app__review-title h1 {
    font-size: 55px;
  }
  .app__review-title img {
    height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .app__review-title h1 {
    font-size: 36px;
  }
  .app__review-title img {
    height: 35px;
  }
}
@media screen and (max-width: 330px) {
  .app__review-title h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 290px) {
  .app__review-title h1 {
    font-size: 28px;
  }
  .app__review-title img {
    height: 30px;
  }
}
@media screen and (max-width: 275px) {
  .app__review-title h1 {
    font-size: 25px;
  }
  .app__review-title img {
    height: 27px;
  }
}
