.app__services-pic {
  border: 2px solid darkgoldenrod;
  width: 49.8vw;
}
.app__services-blossom {
  height: auto;
  width: 200px;
}
.app__services button {
  background: white;
  color: rgb(227, 157, 26);
  height: 70px;
  width: 160px;
  border: solid 0.5px rgb(197, 158, 20);
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
  font-family: "Cormorant Upright";
}
.app__services button:hover {
  background: linear-gradient(
    140deg,
    rgb(255, 255, 255) 45%,
    rgb(219, 190, 112) 60%
  );
  background-size: 300% 300%;
  cursor: pointer;
  animation: rotate 3.5s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 60% 100%;
    color: black;
  }
}
.app__services h2 {
  font-family: "Amatic SC";
  font-size: 45px;
}
/* .app__services-valentine{
  background: whitesmoke;
} */
.app__services-valentine,
.app__services-weddings,
.app__services-mother {
  display: flex;
  justify-content: space-between;
  height: 45vw;
  /* width: 100vw; */
  line-height: 1rem;
}
.app__services-valentine-content,
.app__services-weddings-content,
.app__services-mother-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vw;
  width: 50vw;
}

.app__services-mother-title,
.app__services-weddings-title,
.app__services-valentine-title {
  width: fit-content;
  height: 75px;
  font-size: 50px;
  font-family: "Cormorant Upright";
  color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__services-mother-title h1,
.app__services-weddings-title h1,
.app__services-valentine-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .app__services-valentine-content,
  .app__services-weddings-content,
  .app__services-mother-content {
    width: 50vw;
  }
  .app__services-mother-title,
  .app__services-valentine-title,
  .app__services-weddings-title {
    font-size: 35px;
    /* height: 49vw;
    width: 49vw; */
    height: 40px;
  }
  .app__services h2 {
    font-size: 35px;
  }
  .app__services-blossom {
    width: 140px;
  }
}
@media screen and (max-width: 800px) {
  .app__services button {
    height: 38px;
    width: 120px;
    font-size: 14px;
  }
  .app__services-mother-title,
  .app__services-valentine-title,
  .app__services-weddings-title {
    font-size: 25px;
    height: 30px;
  }
  .app__services h2 {
    font-size: 25px;
  }
  .app__services-blossom {
    width: 95px;
  }
}
@media screen and (max-width: 570px) {
  .app__services-mother-title,
  .app__services-valentine-title,
  .app__services-weddings-title {
    font-size: 20px;
  }
  .app__services-blossom {
    width: 80px;
  }
  .app__services h2 {
    font-size: 20px;
  }
  .app__services button {
    height: 35px;
    width: 100px;
    font-size: 13px;
  }
}
@media screen and (max-width: 470px) {
  .app__services-mother-title,
  .app__services-valentine-title,
  .app__services-weddings-title {
    font-size: 15px;
  }
  .app__services-blossom {
    width: 75px;
  }
  .app__services h2 {
    font-size: 16px;
  }
  .app__services button {
    height: 25px;
    width: 80px;
    font-size: 10px;
  }
  .app__services-pic {
    width: 49vw;
  }
}
@media screen and (max-width: 350px) {
  .app__services-mother-title,
  .app__services-valentine-title,
  .app__services-weddings-title {
    font-size: 13px;
    height: 20px;
  }
  .app__services-blossom {
    width: 55px;
  }
  .app__services h2 {
    font-size: 13px;
  }
  .app__services button {
    height: 20px;
    width: 80px;
    font-size: 10px;
  }
}
@media screen and (max-width: 300px) {
  .app__services-mother-title,
  .app__services-valentine-title,
  .app__services-weddings-title {
    font-size: 10px;
    height: 18px;
  }
  .app__services-blossom {
    width: 47px;
  }
  .app__services h2 {
    font-size: 10px;
  }
  .app__services button {
    height: 20px;
    width: 80px;
    font-size: 10px;
  }
}
