.app__contact {
  padding: 1rem 0;
  background: rgb(246, 246, 244);
}
.app__contact h1 {
  font-family: "Cormorant Upright";
  color: black;
  font-size: 28px;
  line-height: 5px;
}
.app__contact h2 {
  font-family: "Cormorant Upright";
  color: rgb(206, 187, 18);
  font-size: 25px;
  line-height: 0px;
}
.app__contact-title {
  display: flex;
  justify-content: center;
}
.app__contact-title h1 {
  font-size: 45px;
  color: rgb(206, 187, 18);
}
.app__contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.app__contact-content-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__contact-content-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.1;
}
.app__contact-content-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__contact-content-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .app__contact-content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .app__contact h1 {
    font-size: 23px;
  }
  .app__contact h2 {
    font-size: 20px;
  }
  .app__contact-title h1 {
    font-size: 37px;
  }
}
