.app__contact{
    height: 200px;
    background: rgb(247, 247, 241);
    
}
.app__contact-title{
    display: flex;
    justify-content: center;
}
.app__contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.app__contact-content-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.app__contact-content-hours{
    display: flex;
    justify-content: center;
align-items: center;
}
.app__contact-content-phone{
    display: flex;
}