.app__navbar {
  position: fixed;
  width: 100vw;
  background: #e9dfe0;
  height: 45px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.app__navbar-logo {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  align-items: center;
  
}
.app__navbar-logo img {
  height: 45px;
  margin: 0 0.3rem;
  padding-left: 1rem;
}
.app__navbar-menu-links {
  list-style: none;
  position: relative;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding-right: 10rem;
  text-decoration: none;
  align-items: center;
 
}



.app__navbar-menu-links li a,
.app__navbar-contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: "Cormorant Upright", serif;
  text-align: center;
  text-decoration: none;
  color: rgb(163, 106, 0);
  font-size: 35px;
  font-weight: 600;
  padding-right: 4rem;
}
.app__navbar-contact {
  padding-right: 1rem;
}
.app__navbar-contact a:hover {
  color: rgb(199, 131, 6);
}
.app__navbar-menu-links li a:visited {
  text-decoration: none;
  /* color: rgb(172, 114, 8); */
}
.app__navbar-menu-links li a:hover {
  color: rgb(199, 131, 6);
}
.app__navbar-menu-popup {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 229, 229);
  transition: 0.5s ease;
  z-index: 5;
  flex-direction: column;
}
.app__navbar-smallscreen {
  display: none;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;
}

.app__navbar-menu-popup-links {
  margin-top: 120px;
}
.app__navbar-menu-popup-links li {
  list-style: none;
}
.app__navbar-menu-popup-links li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  font-family: "Cormorant Upright", serif;
  text-align: center;
  text-decoration: none;
  color: rgb(163, 106, 0);
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 2rem;
}
.app__navbar-menu-popup-links li a:visited {
  text-decoration: none;
  color: rgb(172, 114, 8);
}
.app__navbar-menu-popup-links li a:hover {
  color: rgb(199, 131, 6);
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 1300px) {
  .app__navbar-logo {
    font-size: 30px;
  }
  .app__navbar-menu-links {
    padding-right: 5rem;
       
  }
}
@media screen and (max-width: 1150px) {
  .app__navbar {
    height: 40px;
    justify-content: space-between;
  }
  .app__navbar-logo {
    font-size: 28px;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
  .app__navbar-menu {
    display: none;
  }
  .app__navbar-contact {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .app__navbar-logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 350px) {
  .app__navbar-logo {
    font-size: 17px;
  }
}
