@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.app__navbar{
    background: rgb(211, 121, 223);
    height: 40px;
    padding: 1rem;
    
   

}
.app__navbar-logo{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    
    

}
