
.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.app__header-text{
margin-left: 6rem;
line-height: 15px;
}
.app__header-text h1{
    font-family: "Great Vibes", cursive;
    font-size: 50px;
}
.app__header-text h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
text-transform: uppercase;
}
.app__header-text button{
    width: 85px;
    height: 35px;
    margin: 1rem;
    background-color: rgb(196, 109, 28);
    border-radius: 5px;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-weight: 700;
    

}
.app__header-img{
    
    display: flex;
    align-self: flex-end;
}
.app__header-img img{
    width: 700px;
    height: 350;
}
