.app__bg {
    background: url('../../images/constrast_dhalia.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
.app__gallery{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5rem;
}
.app__gallery-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    position: relative;
}
.app__gallery-images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app__gallery-images_container::-webkit-scrollbar{
    display: none;
}
.app__gallery-images_card {
    position: relative;
    min-width: 300px;
    height: 447px;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery__image-icon{
    position: absolute;
    color:'#fff';
    font-size: 2rem;
    opacity: 0.5;
    transition: .5s ease;
    cursor: pointer;
}

.app__gallery-images_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
}
/* .app__gallery-images_card:hover img{
    opacity: 0.35;
} */
/* .app__gallery-images_card img:hover .gallery__image-icon {
    opacity: 1;
} */

.app__gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 1rem;
    bottom: 35%;
}
.gallery__arrow-icon {
    color: rgb(179, 118, 5);
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;

}

/* .gallery__arrow-icon:hover{
    color:var(--color-white)
} */
